    {{>theme_innoverz/inc_start}}

    <div id="page" class="container-fluid d-print-block">

        {{#sliderfrontpage}}
            {{>theme_innoverz/slideshow}}
        {{/sliderfrontpage}}

        {{^sliderfrontpage}}
            {{{ output.full_header }}}
        {{/sliderfrontpage}}

        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
                {{#hasfrontcenter}}
                <div id="front-center-block" data-region="blocks-column2" class="">
                    {{{ frontcenterblock }}}
                </div>
                {{/hasfrontcenter}}
                

                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main">
                    <div class="card">
                        <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.course_content_footer }}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {{>theme_innoverz/inc_end}}
